<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" [routerLink]="['/home']">Svi predmeti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-predmet']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="inset">
    <ion-item-sliding *ngFor="let predmet of predmeti">
      <ion-item class="no-padding">
        <ion-label>
          <h2 style="font-weight: bold; font-size: larger;"> {{ predmet.naziv }}</h2>
          <p style="color: grey; font-size:large;"> Semestar: {{ predmet.semestar }}</p>
          <p style="color: grey; font-size:large;">ESPB: {{ predmet.espb }}</p>
          <p style="color: grey; font-size:large;"> Obavezan: {{ predmet.obavezan }}</p>
        </ion-label>
        <br>

      </ion-item>
      <ion-item-options side="start">
        <ion-item-option [routerLink]="['/edit-predmet/',predmet.id]">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="obrisiPredmet(predmet.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>